#forecast_table      
{    	
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%
}

#forecast_table_selection_col
{
	padding: 15px;
	padding-left: 0px;	
	vertical-align: top
}

#forecast_col
{
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

#forecast_selection_table
{
	margin-left: auto;
	margin-right: auto;
	text-align: left
}

#forecast_address 
{
    width: 300px
}
